################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GharKharchaAPI/bin/Debug/net10.0
/GharKharchaAPI/obj
/GharKharchaAPI.Application/bin/Debug/net10.0
/GharKharchaAPI.Application/obj
/GharKharchaAPI.Constants/bin/Debug/net10.0
/GharKharchaAPI.Constants/obj/Debug/net10.0
/GharKharchaAPI.Constants/obj/Release/net10.0
/GharKharchaAPI.Constants/obj
/GharKharchaAPI.Data/bin/Debug/net10.0
