################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GharKharchaAPI/bin/Debug/net10.0
/GharKharchaAPI/obj
/GharKharchaAPI.Application/bin/Debug/net10.0
/GharKharchaAPI.Application/obj
/GharKharchaAPI.Constants/bin/Debug/net10.0
/GharKharchaAPI.Constants/obj/Debug/net10.0
/GharKharchaAPI.Constants/obj/Release/net10.0
/GharKharchaAPI.Constants/obj
/GharKharchaAPI.Data/bin/Debug/net10.0
/GharKharchaAPI.Data/obj/Debug/net10.0/ref/GharKharchaAPI.Data.dll
/GharKharchaAPI.Data/obj/Debug/net10.0/refint/GharKharchaAPI.Data.dll
/GharKharchaAPI.Data/obj/Debug/net10.0/GharKharchaAPI.Data.AssemblyInfoInputs.cache
/GharKharchaAPI.Data/obj/Debug/net10.0/GharKharchaAPI.Data.csproj.CoreCompileInputs.cache
/GharKharchaAPI.Data/obj/Debug/net10.0/GharKharchaAPI.Data.dll
/GharKharchaAPI.Data/obj/Debug/net10.0/GharKharchaAPI.Data.pdb
/GharKharchaAPI.Data/obj/Debug/net10.0/GharKharchaAPI.Data.sourcelink.json
/GharKharchaAPI.Data/obj/Release/net10.0/GharKharchaAPI.Data.AssemblyInfoInputs.cache
/GharKharchaAPI.Data/obj/Release/net10.0/GharKharchaAPI.Data.assets.cache
/GharKharchaAPI.Data/obj/Release/net10.0/GharKharchaAPI.Data.csproj.AssemblyReference.cache
/GharKharchaAPI.Data/obj/Release/net10.0/GharKharchaAPI.Data.GeneratedMSBuildEditorConfig.editorconfig
/GharKharchaAPI.Domain/obj/Debug/net10.0/ref/GharKharchaAPI.Domain.dll
/GharKharchaAPI.Domain/obj/Debug/net10.0/refint/GharKharchaAPI.Domain.dll
/GharKharchaAPI.Domain/obj/Debug/net10.0/GharKharchaAPI.Domain.AssemblyInfoInputs.cache
/GharKharchaAPI.Domain/obj/Debug/net10.0/GharKharchaAPI.Domain.csproj.CoreCompileInputs.cache
/GharKharchaAPI.Domain/obj/Debug/net10.0/GharKharchaAPI.Domain.dll
/GharKharchaAPI.Domain/obj/Debug/net10.0/GharKharchaAPI.Domain.pdb
/GharKharchaAPI.Domain/obj/Debug/net10.0/GharKharchaAPI.Domain.sourcelink.json
/GharKharchaAPI.Domain/obj/Release/net10.0/GharKharchaAPI.Domain.AssemblyInfoInputs.cache
*.cache
/GharKharchaAPI.Domain/bin/Debug/net10.0/GharKharchaAPI.Domain.dll
/GharKharchaAPI.Domain/bin/Debug/net10.0/GharKharchaAPI.Domain.pdb
